img[src$="me"] {
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	max-width: 10%;
	max-height: 30%
		
}

/* https://raw.githubusercontent.com/WindowsMeosu/peppypedia/master/docs/content/en/profile.css */